/*   color variables */
$clr-primary: #0e48fe;
$clr-primary-hover: #29e6a7;
$clr-primary-dark: #039d69;
$clr-gray100: #f9fbff;
$clr-gray150: #f4f6fb;
$clr-gray200: #eef1f6;
$clr-gray300: #e1e5ee;
$clr-gray400: #767b91;
$clr-gray500: #4f546c;
$clr-gray600: #2a324b;
$clr-gray700: #161d34;
$clr-notification-hover: #ffebeb;
$clr-notification: #ffc2c2;
$clr-notification-dark: #e00000;

/*   border radius */
$radius: 0.4rem;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.notification {
  position: fixed;
  top:      0;
  bottom:   0;
  left:     0;
  right:    0;
  z-index:  9;
  background-color: #181818ea;

  display: none;

  &-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translatex(-50%) translatey(-50%);
    z-index: 10;

    border-radius: $radius;
    
    overflow: hidden;
    background-color: #00885b;

    padding-left: 2rem;
    padding-right: 2rem;
  }

  &-show{
    animation: middle 200ms ease-in-out forwards;
    display: flex;
  }
}

@keyframes middle {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.notification-register{
  position: absolute;
  right: 3rem;
  bottom: 3rem;
  z-index: 5;
  border-radius: $radius;
  display: none;

  padding-left: 1rem;
  padding-right: 1rem;

  background-color: #181818ea;

  &-show{
    animation: from_bottom 200ms ease-in-out forwards;
    display: block;
  }

  h1 {
    font-size: 2rem;
  }
  ul {
    font-size: 1.5rem;
    margin-left: 2rem;
    color: rgb(187, 187, 187);
    margin-bottom: 1rem;
  }
}


.notification-error{
  position: absolute;
  right: 3rem;
  bottom: 3rem;
  z-index: 5;
  border-radius: $radius;
  display: none;

  padding-left: 1rem;
  padding-right: 1rem;

  background-color: #4e1212ea;

  &-show{
    animation: from_bottom 200ms ease-in-out forwards;
    display: block;
  }

  h1 {
    font-size: 2rem;
  }
  ul {
    font-size: 1.5rem;
    margin-left: 2rem;
    color: rgb(187, 187, 187);
  }
}

@keyframes from_bottom {
  0% {
    opacity: 0;
    bottom: 0rem;
  }
  10% {
    bottom: 0rem;
  }
  100% {
    opacity: 1;
  }
}

.table-item {
  background-color: #343a40;
  color: #FFF;
  padding: .6rem;
  padding-left: 1.5rem;
  margin-bottom: .4rem !important;
  border-radius: $radius;
  bottom: 3rem;
}
